.packages {
    margin: 10px;
    min-height: 92vh;
}

.packages .packagesDescription {
    display: flex;
    color: white;
}

.packages .packagesDescription .packageIcon {
    width: 20%;
}

.packages .packagesDescription .packageIcon figure {
    display: flex;
    justify-content: center;
}

.packages .packagesDescription .packageIcon figure img {
    width: 40%;
}

.packages .packagesDescription .packageDescription {
    width: 70%;
    color: #000000;
}

.packages section.packagesRewards {
    margin-top: 10px;
    color: #000000;
    padding: 10px;
}

.packages section.packagesRewards h2 {
    margin-bottom: 10px;
    text-align: center;
}

.packages section.packagesRewards ul {
    display: flex;
    justify-content: center;
}

.packages section.packagesRewards ul li {
    width: 10%;
    list-style: none;
    text-align: center;
}

.packages section.packagesRewards ul li img {
    width: 70%;
}

.packages .packagesContainer {
    display: flex;
    padding-top: 20px;
    color: #FFFFFF;
}

.packages .packagesContainer .packagesMaps {
    display: flex;
}

.packages .packagesContainer .packagesMaps .packageMap {
    margin: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.packages .packagesContainer .packagesMaps .packageMap .packageMapTooltipNone {
    display: none;
}

@keyframes tooltipBlur {
    from {opacity: 0; filter: blur(5px); height: 0px;}
    to {opacity: 1; filter: blur(0px); height: 28px;}
}

.packages .packagesContainer .packagesMaps .packageMap .packageMapTooltip {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    height: 28px;
    padding: 0 12px 0 12px;
    animation-name: tooltipBlur;
    animation-duration: 0.3s;
}

.packages .packagesContainer .packagesMaps .packageMap figure {
    width: 40%;
}

.packages .packagesContainer .packagesMaps .packageMap figure img {
    width: 90%;
    cursor: pointer;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalNone {
    display: none;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
    position: fixed;
    right: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal i {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
    height: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.packages .packagesContainer .packagesMaps .packageMap .packageInfo {
    width: 70%;
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #F9CE65;
    cursor: pointer;
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage button a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
}

section.packagesList {
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 14px;
}

section.packagesList .packagesCard {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 15px 15px 15px;
}

section.packagesList .packagesCard p {
    background-color: #BF3921;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    padding: 0 12px 0 12px;
    margin-bottom: 10px;
}

section.packagesList .packagesCard figure img {
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .packages .packagesDescription {
        flex-direction: column;
    }

    .packages .packagesDescription .packageIcon {
        width: 100%;
        margin-bottom: 20px;
    }

    .packages .packagesDescription .packageIcon figure img {
        width: 20%;
    }

    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }

    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }

    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }

    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }

    .packages .packagesContainer .packagesMaps .packageMap {
        margin-bottom: 30px;
    }

    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 90%;
    }

    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }

    section.packagesList {
        grid-template-columns: repeat(2, 1fr);
    }
}