.packages {
    margin: 10px;
    min-height: 92vh;
}

.packages .packagesDescription {
    display: flex;
    color: var(--white);
}

.packages .packagesDescription .packageIcon {
    width: 20%;
}

.packages .packagesDescription .packageIcon figure {
    display: flex;
    justify-content: center;
}

.packages .packagesDescription .packageIcon figure img {
    width: 40%;
}

.packages .packagesDescription .packageDescription {
    width: 70%;
    color: var(--black);
}

.packages section.packagesRewards {
    margin-top: 10px;
    color: var(--black);
    padding: 10px;
}

.packages section.packagesRewards h2 {
    margin-bottom: 10px;
    text-align: center;
}

.packages section.packagesRewards ul {
    display: flex;
    justify-content: center;
}

.packages section.packagesRewards ul li {
    width: 10%;
    list-style: none;
    text-align: center;
}

.packages section.packagesRewards ul li img {
    width: 70%;
}

.packages .packagesContainer {
    display: flex;
    padding-top: 20px;
    color: var(--white);
}

.packages .packagesContainer .packagesMaps {
    display: flex;
}

.packages .packagesContainer .packagesMaps .packageMap {
    margin: 20px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.packages .packagesContainer .packagesMaps .packageMap .packageMapTooltipNone {
    display: none;
}

@keyframes tooltipBlur {
    from {opacity: 0; filter: blur(5px); height: 0px;}
    to {opacity: 1; filter: blur(0px); height: 28px;}
}

.packages .packagesContainer .packagesMaps .packageMap .packageMapTooltip {
    background-color: var(--black);
    color: var(--white);
    border-radius: 15px;
    height: 28px;
    padding: 0 12px 0 12px;
    animation-name: tooltipBlur;
    animation-duration: 0.3s;
}

.packages .packagesContainer .packagesMaps .packageMap figure {
    width: 40%;
}

.packages .packagesContainer .packagesMaps .packageMap figure img {
    width: 90%;
    cursor: pointer;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalNone {
    display: none;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
    position: fixed;
    right: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal i {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

.packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
    height: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.packages .packagesContainer .packagesMaps .packageMap .packageInfo {
    width: 70%;
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--yellow);
    cursor: pointer;
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

.packages .packagesContainer .packagesMaps .packageMap .openPackage button a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
}

section.packagesList {
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 14px;
}

section.packagesList .packagesCard {
    background-color: var(--white);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 15px 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

section.packagesList .packagesCard p {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
    display: inline-block;
    padding: 0 12px 0 12px;
    margin-bottom: 10px;
}

section.packagesList .packagesCard figure img {
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 360px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: column;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 100%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 20%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 90%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 10px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 70%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 20%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: column;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 100%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 20%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 90%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 10px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 70%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 20%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: column;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 100%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 20%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 90%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 10px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 70%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: column;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 100%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 20%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 90%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 10px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 50%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 10%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 60%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 30%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 60%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 10px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 30%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 10%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 80%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 60%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 20%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: column;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 30%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 60%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 40%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 10%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 60%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 0px;
    }
    .packages .packagesDescription .packageIcon {
        width: 20%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 30%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 10%;
        margin-bottom: 10px;
    }
    .packages section.packagesRewards ul li img {
        width: 60%;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 80%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 15px;
    }
    .packages .packagesDescription .packageIcon {
        width: 30%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 40%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 10%;
        margin-bottom: 10px;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: 60%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: 96%;
        height: auto;
    }
    section.packagesList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    .packages .packagesDescription {
        flex-direction: row;
        padding-top: 0px;
    }
    .packages .packagesDescription .packageIcon {
        width: 20%;
        margin-bottom: 20px;
    }
    .packages .packagesDescription .packageIcon figure {
        height: 100%;
        align-items: center;
    }
    .packages .packagesDescription .packageIcon figure img {
        width: 30%;
    }
    .packages .packagesDescription .packageDescription {
        width: 100%;
        padding: 10px;
    }
    .packages section.packagesRewards ul {
        flex-wrap: wrap;
    }
    .packages section.packagesRewards ul li {
        width: 10%;
        margin-bottom: 10px;
    }
    .packages section.packagesRewards ul li img {
        width: 60%;
    }
    .packages .packagesContainer .packagesMaps {
        flex-direction: row;
    }
    .packages .packagesContainer .packagesMaps .packageMap figure {
        width: 50%;
    }
    .packages .packagesContainer .packagesMaps .packageMap {
        margin: 0 10px 38px 10px;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer {
        height: 100%;
        width: 100%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal {
        width: auto;
        height: 80%;
    }
    .packages .packagesContainer .packagesMaps .packageMap .packageModalContainer .packageModal img {
        width: auto;
        height: 85%;
    }
    section.packagesList {
        grid-template-columns: repeat(5, 1fr);
    }
}