section.maps {
    margin: 10px;
    min-height: 92vh;
}

section.maps section.officialMap {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.maps section.officialMap img {
    width: 90%;
}