.missionsByOwner {
    margin: 10px;
    min-height: 92vh;
}

.missionsByOwner .missionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.missionsByOwner .missionsContainer figure {
    margin: 0 15px 0 20px;
    width: 18%;
    height: 70vh;
    background-color: #F8F9F7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

@keyframes ownerBlur {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

.missionsByOwner .missionsContainer figure img {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    animation-name: ownerBlur;
    animation-duration: 0.8s;
}

.missionsByOwner .missionsContainer .missionsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    width: 75%;
    padding: 0 0 0 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 10px 15px 0;
    color: #303030;
    border-radius: 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
    width: 100%;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    background-color: #F8F9F7;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .cityTag {
    background-color: #303030;
    color: #F8F9F7;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin: 5px 5px 0 0;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .rewardTag {
    background-color: #F9CE65;
    color: #303030;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .objectiveTag {
    background-color: #BF3921;
    color: #F8F9F7;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide {
    width: 100%;
    padding: 0px 15px 15px 15px;
    border-radius: 0 0 15px 15px;
    background-color: #F8F9F7;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide p b {
    cursor: pointer;
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide p b:hover {
    color: #BF3921;
}

@keyframes loading {
    0%{filter: saturate(80%);}
    50% {filter: saturate(0%);}
    100% {filter: saturate(80%);}
}

.missionsByOwner .missionsContainer .missionsList .loadingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.missionsByOwner .missionsContainer .missionsList .loadingImage img {
    width: 100%;
}

@media (max-width: 800px) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }

    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }

    .missionsByOwner .missionsContainer figure img {
        width: 30%;
    }

    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 100%;
        padding: 0 15px 0 15px;
    }

    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }

    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }

    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}