.missionsByOwner {
    margin: 10px;
    min-height: 92vh;
}

.missionsByOwner .missionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.missionsByOwner .missionsContainer figure {
    margin: 0 15px 0 20px;
    width: 18%;
    height: 70vh;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes ownerBlur {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

.missionsByOwner .missionsContainer figure img {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    animation-name: ownerBlur;
    animation-duration: 0.8s;
}

.missionsByOwner .missionsContainer .missionsList {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding: 0 0 0 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: 0 10px 15px 0;
    color: #000000;
    border-radius: 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
    width: 100%;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    background-color: #FFFFFF;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .cityTag {
    background-color: #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .rewardTag {
    background-color: #F9CE65;
    color: #000000;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .objectiveTag {
    background-color: #BF3921;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide {
    width: 100%;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    background-color: #FFFFFF;
}

@media (max-width: 800px) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }

    .missionsByOwner .missionsContainer figure {
        width: 100%;
    }

    .missionsByOwner .missionsContainer figure img {
        width: 30%;
    }

    .missionsByOwner .missionsContainer .missionsList {
        width: 100%;
    }

    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
    }

    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
        margin-bottom: 20px;
    }
}