.missionsByOwner {
    margin: 10px;
    min-height: 92vh;
}

.missionsByOwner .missionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.missionsByOwner .missionsContainer figure {
    margin: 0 15px 0 20px;
    width: 18%;
    height: 70vh;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

@keyframes ownerBlur {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

.missionsByOwner .missionsContainer figure img {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    animation-name: ownerBlur;
    animation-duration: 0.8s;
}

.missionsByOwner .missionsContainer .missionsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    width: 75%;
    padding: 0 0 0 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 10px 15px 0;
    color: var(--black);
    border-radius: 15px;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
    width: 100%;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    background-color: var(--white);
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .cityTag {
    background-color: var(--black);
    color: var(--white);
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin: 5px 5px 0 0;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .rewardTag {
    background-color: var(--yellow);
    color: var(--black);
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin: 5px 5px 0 0;
}

.missionsByOwner .missionsContainer .missionsList .listCards .missionInfo .objectiveTag {
    background-color: var(--red);
    color: var(--white);
    display: inline-block;
    padding: 0 15px 0 15px;
    border-radius: 15px;
    margin: 5px 5px 0 0;
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide {
    width: 100%;
    padding: 0px 15px 15px 15px;
    border-radius: 0 0 15px 15px;
    background-color: var(--white);
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide p b {
    cursor: pointer;
}

.missionsByOwner .missionsContainer .missionsList .listCards .guide p b:hover {
    color: var(--red);
}

@keyframes loading {
    0%{filter: saturate(80%);}
    50% {filter: saturate(0%);}
    100% {filter: saturate(80%);}
}

.missionsByOwner .missionsContainer .missionsList .loadingImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.missionsByOwner .missionsContainer .missionsList .loadingImage img {
    width: 100%;
}

@media (max-width: 360px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 20%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 100%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 23%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 70%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 75%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 24%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 100%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 23%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 70%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 75%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 24%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 100%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 18%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 80%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 80%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 17%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 100%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 18%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 80%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 80%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 17%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 90%;
        margin: 0 0 0 5%;
        padding: 0;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 24%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 90%;
        margin: 0 0 0 5%;
        padding: 0;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 25%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 80%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14px;
        width: 73%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 24%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 90%;
        margin: 0 0 0 5%;
        padding: 0;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 25%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 65%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14px;
        width: 73%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    .missionsByOwner .missionsContainer {
        flex-direction: column;
    }
    .missionsByOwner .missionsContainer figure {
        width: 90%;
        height: 30%;
        margin: 0 0 20px 5%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 24%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        width: 90%;
        margin: 0 0 0 5%;
        padding: 0;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    .missionsByOwner .missionsContainer figure {
        width: 25%;
        height: 90%;
        margin: 0 0 0 2%;
    }
    .missionsByOwner .missionsContainer figure img {
        width: 65%;
    }
    .missionsByOwner .missionsContainer .missionsList {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 14px;
        width: 73%;
        padding: 0 15px 0 15px;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards {
        flex-direction: column;
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .listCards .missionInfo {
        width: 100%;
    }
    .missionsByOwner .missionsContainer .missionsList .loadingImage {
        height: 100%;
    }
}