section.bandsContainer {
    margin: 10px;
    min-height: 92vh;
}

section.bandsTitle {
    height: 10vh;
    padding: 15px;
}

section.bandsTitle h1 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

section.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
    padding: 0 15px 15px 15px;
}

section.cardsContainer article.bandsCard {
    width: 100%;
}

section.cardsContainer article:hover {
    cursor: pointer;
}

section.cardsContainer article h4 {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Courgette', cursive;
    padding: 12px;
    border-radius: 15px 15px 0 0;
}

figure.logoContainer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 0 0 15px 15px;
}

figure.logoContainer img {
    width: 60%;
}

section.cardsContainer .modalNone {
    display: none;
}

section.cardsContainer .modal {
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    height: 100%;
    bottom: 0%;
    width: 100%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.cardsContainer .modal .modalCard {
    background-color: #FFFFFF;
    width: 60%;
    height: 70%;
    border-radius: 15px;
}

section.modalHeader {
    display: flex;
    align-items: center;
    height: 12%;
    padding: 10px 20px 0 20px;
}

section.modalHeader .modalTitle {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

section.modalHeader .modalTitle h1 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 10px;
}

section.modalHeader .close {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.modalHeader .close i {
    font-size: 20px;
    color: #000000;
}

section.modalInfo {
    height: 88%;
    display: flex;
}

article.bandlogo {
    width: 25%;
    padding-left: 20px;
}

article.bandlogo .info {
    color: #000000;
    padding: 8px;
    margin-top: 10px;
    margin-left: 5px;
}

article.bandlogo .info .boss {
    background-color: #A11751;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #FFFFFF;
    margin-bottom: 5px;
    display: inline-block;
}

article.bandlogo .info .location {
    background-color: #F9CE65;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #000000;
    margin-bottom: 5px;
    display: inline-block;
}

article.bandlogo .info .nationality {
    background-color: #000000;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #FFFFFF;
    margin-bottom: 5px;
    display: inline-block;
}

article.bandlogo .info .infovehicle {
    background-color: #BF3921;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #FFFFFF;
    margin-bottom: 5px;
    display: inline-block;
}

figure.logoImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

figure.logoImage img {
    width: 80%;
}

figure.member {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.member img {
    width: 70%;
}

figure.car {
    padding-right: 20px;
    width: 50%;
    background-image: url("/src/assets/sun.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure.car .carImage {
    width: 100%;
}

figure.car .sunImage {
    width: 80%;
    position: relative;
    top: 10%;
}

@media (max-width: 800px) {
    section.cardsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14px;
    }

    section.modalHeader {
        height: 8%;
    }

    section.cardsContainer .modal .modalCard {
        width: 90%;
        height: 80%;
    }

    section.modalInfo {
        flex-wrap: wrap;
    }

    section.cardsContainer article.bandlogo {
        width: 60%;
        height: 50%;
        padding: 0;
    }

    figure.logoImage {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    figure.logoImage img {
        width: 60%;
    }

    figure.member {
        width: 40%;
        align-items: flex-start;
        height: 50%;
    }

    figure.member img {
        width: 80%;
    }

    figure.car {
        width: 100%;
        height: 50%;
        background-size: 60%;
    }

    figure.car .carImage {
        width: 70%;
    }
}