section.bandsContainer {
    margin: 10px;
    min-height: 92vh;
}

section.bandsTitle {
    height: 10vh;
    padding: 15px;
}

section.bandsTitle h1 {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

section.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}

section.cardsContainer article {
    width: 22%;
    margin: 8px;
}

section.cardsContainer article:hover {
    cursor: pointer;
}

section.cardsContainer article h4 {
    background-color: #2E3D45;
    color: white;
    font-family: 'Courgette', cursive;
    padding: 8px;
}

figure.logoContainer {
    background-color: #28373E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

figure.logoContainer img {
    width: 70%;
}

@keyframes backdrop {
    from {background: none;}
    to {background-color: rgba(19, 18, 18, 0.438);}
}

section.cardsContainer .modalNone {
    display: none;
}

section.cardsContainer .modal {
    background-color: rgba(19, 18, 18, 0.438);
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100%;
    bottom: 0%;
    width: 100%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: backdrop;
    animation-duration: 0.1s;
}

section.cardsContainer .modal .modalCard {
    background-color: #28373E;
    width: 60%;
    height: 70%;
}

section.modalHeader {
    display: flex;
    align-items: center;
    height: 12%;
    padding: 10px;
}

section.modalHeader .modalTitle {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

section.modalHeader .modalTitle h1 {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 10px;
}

section.modalHeader .close {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.modalHeader .close i {
    font-size: 20px;
    color: white;
}

section.modalInfo {
    height: 88%;
    display: flex;
}

article.bandlogo {
    padding: 5px;
    width: 30%;
}

article.bandlogo .info {
    background-color: #2E3D45;
    color: white;
    padding: 8px;
    margin-top: 10px;
    margin-left: 5px;
}

figure.logoImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px rgb(49, 47, 47);
}

figure.logoImage img {
    width: 90%;
}

figure.member {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

figure.member img {
    width: 90%;
}

figure.car {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure.car .carImage {
    width: 100%;
    position: relative;
    bottom: 65%;
}

figure.car .sunImage {
    width: 80%;
    position: relative;
    top: 10%;
}

@media (max-width: 480px) {
    section.cardsContainer article {
        width: 48%;
        margin: 4px;
    }

    section.modalHeader {
        height: 8%;
    }

    section.cardsContainer .modal .modalCard {
        width: 90%;
        height: 80%;
    }

    section.modalInfo {
        flex-wrap: wrap;
    }

    section.cardsContainer article.bandlogo {
        width: 60%;
        margin: 0;
        padding: 15px;
    }

    figure.member {
        width: 40%;
        align-items: flex-start;
        height: 50%;
    }

    figure.member img {
        width: 90%;
    }

    figure.car {
        width: 100%;
        height: 20%;
    }

    figure.car .carImage {
        width: 70%;
        bottom: 200%;
    }

    figure.car .sunImage {
        width: 60%;
        top: -30%;
    }
}