.navbar {
    width: 5%;
    
    background-color: rgb(161, 23, 81);
}

.navbar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navbar ul li {
    height: 8%;
    list-style: none;
    margin: auto;
}