.vehiclesContainer {
    margin: 10px;
    min-height: 92vh;
}

section.vehiclesTitle {
    height: 10vh;
    padding: 15px;
}

section.vehiclesTitle h1 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.vehiclesContainer .vehicles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 14px;
    padding: 0 12px 12px 12px;
}

.vehiclesContainer .vehicles .vehiclesCard {
    width: 100%;
    cursor: pointer;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleImage {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    padding: 10px;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleImage img {
    width: 80%;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleInfo {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleInfo h4 {
    color: #000000;
    font-family: 'Courgette', cursive;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleInfo p {
    background-color: #BF3921;
    display: inline-block;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(2, 1fr);
    }

    .vehiclesContainer .vehicles .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 800px) {
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(4, 1fr);
    }
}