.vehiclesContainer {
    margin: 10px;
    min-height: 92vh;
}

section.vehiclesTitle {
    height: 10vh;
    padding: 15px;
}

section.vehiclesTitle h1 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.vehiclesContainer .vehicles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vehiclesContainer .vehicles .vehicleCard {
    width: 18%;
    margin: 10px;
    cursor: pointer;
}

.vehiclesContainer .vehicles .vehicleCard .vehicleImage {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    padding: 10px;
}

.vehiclesContainer .vehicles .vehicleCard .vehicleImage img {
    width: 80%;
}

.vehiclesContainer .vehicles .vehicleCard .vehicleInfo {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
}

.vehiclesContainer .vehicles .vehicleCard .vehicleInfo h4 {
    color: #000000;
    font-family: 'Courgette', cursive;
}

.vehiclesContainer .vehicles .vehicleCard .vehicleInfo p {
    border: solid 1px #000000;
    border-radius: 15px;
    padding: 0 10px 0 15px;
    width: 80%;
    min-width: 50%;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .vehiclesContainer .vehicles .vehicleCard {
        width: 30%;
        margin: 5px;
    }
}