.vehiclesContainer {
    margin: 10px;
    min-height: 92vh;
}

section.vehiclesTitle {
    height: 10vh;
    padding: 15px;
}

section.vehiclesTitle h1 {
    color: var(--black);
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.vehiclesContainer .vehicles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 14px;
    padding: 0 12px 12px 12px;
}

.vehiclesContainer .vehicles .vehiclesCard {
    width: 100%;
    cursor: pointer;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleImage {
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleImage img {
    width: 80%;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleInfo {
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleInfo h4 {
    color: var(--black);
    font-family: 'Courgette', cursive;
}

.vehiclesContainer .vehicles .vehiclesCard .vehicleInfo p {
    background-color: var(--red);
    display: inline-block;
    color: var(--white);
    border-radius: 15px;
    padding: 0 15px 0 15px;
    margin-top: 10px;
}

@media (max-width: 360px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 8vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 13vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 360px) and (max-width: 375px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 8vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 640px) and (max-width: 667px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 13vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 6vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 11vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 5vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 8vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 6vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 6vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 8vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 5vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 6vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    section.vehiclesTitle {
        height: 4vh;
        padding: 10px 0 10px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    section.vehiclesTitle {
        height: 6vh;
        padding: 8px 0 8px 20px;
    }
    .vehiclesContainer .vehicles {
        grid-template-columns: repeat(6, 1fr);
    }
}