@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Saira+Condensed:wght@100&display=swap');

.itemsAndGuns {
    margin: 10px;
    min-height: 92vh;
}

section.itemsTitle {
    height: 10vh;
    padding: 15px;
}

section.itemsTitle h1 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.itemsContainer {
    width: 100%;
    display: flex;
}

.itemsContainer .items {
    width: 40%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12px 12px 12px;
}

.itemsContainer .items .itemsCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer .items .itemsCards .itemImage {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .items .itemsCards .itemImage img {
    width: 40%;
}

.itemsContainer .items .itemsCards .itemInfo {
    width: 100%;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .items .itemsCards .itemInfo h4 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.itemsContainer .items .itemsCards .itemInfo p {
    color: #000000;
}

.itemsContainer .guns {
    width: 60%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 12px 12px 12px;
    flex-wrap: wrap;
}

.itemsContainer .guns .gunsCards {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer .guns .gunsCards .gunImage {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .guns .gunsCards .gunImage img {
    width: 40%;
}

.itemsContainer .guns .gunsCards .gunInfo {
    background-color: #FFFFFF;
    width: 100%;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .guns .gunsCards .gunInfo h4 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

.itemsContainer .guns .gunsCards .gunInfo .gunPrice {
    background-color: #BF3921;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #FFFFFF;
    margin-bottom: 5px;
    display: inline-block;
}

.itemsContainer .guns .gunsCards .gunInfo .gunPeople {
    background-color: #000000;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #FFFFFF;
    margin-bottom: 5px;
    display: inline-block;
}

.itemsContainer .guns .gunsCards .gunInfo .gunVehicles {
    background-color: #F9CE65;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: #000000;
    margin-bottom: 5px;
    display: inline-block;
}

@media (max-width: 480px) {
    .itemsContainer {
        flex-direction: column;
    }

    .itemsContainer .items {
        width: 100%;
    }

    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width:800px) {
    .itemsContainer {
        flex-direction: column;
    }

    .itemsContainer .items {
        width: 100%;
    }

    .itemsContainer .guns {
        width: 100%;
    }

    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}