@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Saira+Condensed:wght@100&display=swap');

.itemsAndGuns {
    margin: 10px;
    min-height: 92vh;
}

section.itemsTitle {
    height: 10vh;
    padding: 15px;
}

section.itemsTitle h1 {
    color: var(--black);
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.itemsContainer {
    width: 100%;
    display: flex;
}

.itemsContainer .items {
    width: 40%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 12px 12px 12px;
}

.itemsContainer .items .itemsCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer .items .itemsCards .itemImage {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 15px 15px 0 0;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .items .itemsCards .itemImage img {
    width: 40%;
}

.itemsContainer .items .itemsCards .itemInfo {
    width: 100%;
    padding: 15px;
    background-color: var(--white);
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .items .itemsCards .itemInfo h4 {
    color: var(--black);
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.itemsContainer .items .itemsCards .itemInfo p {
    color: var(--black);
}

.itemsContainer .guns {
    width: 60%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 12px 12px 12px;
    flex-wrap: wrap;
}

.itemsContainer .guns .gunsCards {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer .guns .gunsCards .gunImage {
    width: 100%;
    background-color: var(--white);
    border-radius: 15px 15px 0 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .guns .gunsCards .gunImage img {
    width: 40%;
}

.itemsContainer .guns .gunsCards .gunInfo {
    background-color: var(--white);
    width: 100%;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.itemsContainer .guns .gunsCards .gunInfo h4 {
    color: var(--black);
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

.itemsContainer .guns .gunsCards .gunInfo .gunPrice {
    background-color: var(--red);
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: var(--white);
    margin-bottom: 5px;
    display: inline-block;
}

.itemsContainer .guns .gunsCards .gunInfo .gunPeople {
    background-color: var(--black);
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: var(--white);
    margin-bottom: 5px;
    display: inline-block;
}

.itemsContainer .guns .gunsCards .gunInfo .gunVehicles {
    background-color: var(--yellow);
    border-radius: 15px;
    padding: 0 15px 0 15px;
    color: var(--black);
    margin-bottom: 5px;
    display: inline-block;
}

@media (max-width: 360px) and (orientation:portrait) {
    section.itemsTitle {
    height: 8vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    section.itemsTitle {
        height: 12vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 21px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 25%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    section.itemsTitle {
    height: 8vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    section.itemsTitle {
        height: 12vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 21px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 25%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    section.itemsTitle {
    height: 8vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    section.itemsTitle {
        height: 12vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 21px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 25%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    section.itemsTitle {
    height: 8vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    section.itemsTitle {
        height: 8vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 21px;
    }
    .itemsContainer {
        flex-direction: row;
    }
    .itemsContainer .items {
        width: 40%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 25%;
    }
    .itemsContainer .guns {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    section.itemsTitle {
    height: 6vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px 12px 12px;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    section.itemsTitle {
    height: 6vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px 12px 12px;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    section.itemsTitle {
        height: 6vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 21px;
    }
    .itemsContainer {
        flex-direction: row;
    }
    .itemsContainer .items {
        width: 40%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 35%;
    }
    .itemsContainer .guns {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    section.itemsTitle {
    height: 4vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px 12px 12px;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) and (orientation:landscape) {
    section.itemsTitle {
        height: 6vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 21px;
    }
    .itemsContainer {
        flex-direction: row;
    }
    .itemsContainer .items {
        width: 40%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 35%;
    }
    .itemsContainer .guns {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 901px) and (max-width: 1024px) and (orientation:portrait) {
    section.itemsTitle {
    height: 4vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px 12px 12px;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    section.itemsTitle {
        height: 6vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 25px;
    }
    .itemsContainer {
        flex-direction: row;
    }
    .itemsContainer .items {
        width: 40%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 35%;
    }
    .itemsContainer .guns {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1080px) and (orientation:portrait) {
    section.itemsTitle {
    height: 4vh;
    padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 23px;
    }
    .itemsContainer {
        flex-direction: column;
    }
    .itemsContainer .items {
        width: 100%;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 12px 12px 12px;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 50%;
    }
    .itemsContainer .guns {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    section.itemsTitle {
        height: 6vh;
        padding: 10px;
    }
    section.itemsTitle h1 {
        font-size: 25px;
    }
    .itemsContainer {
        flex-direction: row;
    }
    .itemsContainer .items {
        width: 40%;
        padding-top: 10px;
    }
    .itemsContainer .items .itemsCards .itemImage {
        padding: 20px 0 20px 0;
    }
    .itemsContainer .items .itemsCards .itemImage img {
        width: 35%;
    }
    .itemsContainer .guns {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .itemsContainer .guns .gunsCards {
        width: 100%;
    }
}