.garages {
    margin: 10px;
    min-height: 92vh;
}

.garages .garageDescription {
    display: flex;
    color: #F8F9F7;
    margin-bottom: 20px;
}

.garages .garageDescription .garagesDescription {
    width: 80%;
    padding-left: 20px;
    color: #303030;
}

article.garagelist {
    width: 90%;
    margin-left: 5%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #303030;
    border-radius: 15px;
    color: #F8F9F7;
}

article.garagelist .garageCard {
    display: flex;
}

article.garagelist .garageMap {
    width: 7%;
}

article.garagelist .garageMap h1 {
    color: #F8F9F7;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

article.garagelist .garageMap img {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

article.garagelist figure {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.garagelist figure img {
    width: 90%;
    border-radius: 15px;
}

article.garagelist .infoGarage {
    background-color: #F8F9F7;
    color: #303030;
    width: 70%;
    padding: 15px;
    border-radius: 15px;
}

article.garagelist .infoGarage h1 {
    color: #303030;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

article.garagelist .infoGarage p {
    margin-top: 20px;
    color: #303030;
}

article.garagelist .modalInvisible {
    display: none;
}

article.garagelist .modalVisible {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

article.garagelist .modalVisible .modalMap {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article.garagelist .modalVisible .modalMap i {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    color: #F8F9F7;
}

article.garagelist .modalVisible img {
    height: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
}

@keyframes openlist {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

article.garagelist .carsList .garageList {
    animation-name: openlist;
    animation-duration: 0.5s;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 14px;
    margin-top: 15px;
}

article.garagelist .carsList .garageList .vehiclesCard {
    width: 100%;
}

article.garagelist .carsList .garageList .vehiclesCard h1 {
    background-color: #F8F9F7;
    color: #303030;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

article.garagelist .carsList .garageList .vehiclesCard figure {
    background-color: #F8F9F7;
    padding: 10px;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

article.garagelist .carsList .garageListNone {
    display: none;
}

article.garagelist .carsList .openList {
    display: flex;
    justify-content: center;
}

article.garagelist .carsList .openList button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 40px;
    background-color: #F9CE65;
    cursor: pointer;
}

article.garagelist .carsList .openList button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

.fa-grip-lines {
    color: #F8F9F7;
}

@media (max-width: 360px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 40%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 60%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible img {
        width: 96%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 30%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 70%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 34%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 85%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(3, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 40%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 60%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible img {
        width: 96%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 30%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 70%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 34%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 85%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(3, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 35%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 65%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible img {
        width: 96%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(3, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 10%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 30%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 60%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 34%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 85%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(4, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 35%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 65%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 55%;
    }
    article.garagelist .modalVisible img {
        width: 60%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(4, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 10%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 30%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 60%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 35%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 70%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(6, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 35%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 65%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 55%;
    }
    article.garagelist .modalVisible img {
        width: 60%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(5, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 30%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 70%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 55%;
    }
    article.garagelist .modalVisible img {
        width: 60%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(5, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 10%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 30%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 60%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 35%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 70%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(7, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 30%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 70%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 55%;
    }
    article.garagelist .modalVisible img {
        width: 60%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(6, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 10%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 25%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 65%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 35%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 70%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(7, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    article.garagelist {
        width: 100%;
        margin: 0 0 35px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 30%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 70%;
    }
    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 55%;
    }
    article.garagelist .modalVisible img {
        width: 60%;
        height: auto;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(6, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    article.garagelist {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }
    article.garagelist .garageCard {
        flex-wrap: wrap;
    }
    article.garagelist .garageMap {
        width: 7%;
    }
    article.garagelist .garageMap img {
        width: 100%;
    }
    article.garagelist figure {
        width: 18%;
        margin-top: 0px;
    }
    article.garagelist .infoGarage {
        width: 75%;
        margin-top: 14px;
    }
    article.garagelist .modalVisible .modalMap {
        width: 100%;
    }
    article.garagelist .modalVisible .modalMap i {
        width: 35%;
    }
    article.garagelist .modalVisible img {
        width: auto;
        height: 70%;
    }
    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(7, 1fr);
    }
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}