.garages {
    margin: 10px;
    min-height: 92vh;
}

.garages .garageDescription {
    display: flex;
    color: white;
    margin-bottom: 20px;
}

.garages .garageDescription .garagesDescription {
    width: 80%;
    padding-left: 20px;
    color: #000000;
}

article.garagelist {
    width: 90%;
    margin-left: 5%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #000000;
    border-radius: 15px;
    color: #FFFFFF;
}

article.garagelist .garageCard {
    display: flex;
}

article.garagelist .garageMap {
    width: 7%;
}

article.garagelist .garageMap h1 {
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

article.garagelist .garageMap img {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

article.garagelist figure {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.garagelist figure img {
    width: 90%;
    border-radius: 15px;
}

article.garagelist .infoGarage {
    background-color: #FFFFFF;
    color: #000000;
    width: 70%;
    padding: 15px;
    border-radius: 15px;
}

article.garagelist .infoGarage h1 {
    color: #000000;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

article.garagelist .infoGarage p {
    margin-top: 20px;
    color: #000000;
}

article.garagelist .modalInvisible {
    display: none;
}

article.garagelist .modalVisible {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

article.garagelist .modalVisible .modalMap {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article.garagelist .modalVisible .modalMap i {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    color: #FFFFFF;
}

article.garagelist .modalVisible img {
    height: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
}

@keyframes openlist {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

article.garagelist .carsList .garageList {
    animation-name: openlist;
    animation-duration: 0.5s;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 14px;
    margin-top: 15px;
}

article.garagelist .carsList .garageList .vehiclesCard {
    width: 100%;
}

article.garagelist .carsList .garageList .vehiclesCard h1 {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

article.garagelist .carsList .garageList .vehiclesCard figure {
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

article.garagelist .carsList .garageListNone {
    display: none;
}

article.garagelist .carsList .openList {
    display: flex;
    justify-content: center;
}

article.garagelist .carsList .openList button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 40px;
    background-color: #F9CE65;
    cursor: pointer;
}

article.garagelist .carsList .openList button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

.fa-grip-lines {
    color: white;
}

@media (max-width: 800px) {
    .garages .garageDescription .garagesDescription {
        width: 100%;
    }

    article.garagelist .garageCard {
        flex-wrap: wrap;
    }

    article.garagelist .garageMap {
        width: 40%;
    }

    article.garagelist .garageMap img {
        width: 100%;
    }

    article.garagelist figure {
        width: 60%;
    }

    article.garagelist .infoGarage {
        width: 100%;
        margin-top: 14px;
    }

    article.garagelist .modalVisible .modalMap {
        width: 90%;
    }

    article.garagelist .modalVisible img {
        width: 96%;
        height: auto;
    }

    article.garagelist .carsList .garageList {
        grid-template-columns: repeat(2, 1fr);
    }
    
    article.garagelist .carsList .garageList .vehiclesCard {
        width: 100%;
    }
}