@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Saira+Condensed:wght@100&display=swap');

section.home {
    width: 100%;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes imageBlur{
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

article.cover {
    width: 23%;
    height: 80vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    animation-name: imageBlur;
    animation-duration: 0.6s;
    background-color: #FFFFFF;
    border-radius: 15px 0 0 15px;
}

article.cover img {
    height: 80%;
    margin-left: 10%;
}

article.introduction {
    width: 50%;
    height: 80vh;
    padding: 50px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 0 15px 15px 0;
}

article.introduction h1 {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    color: #000000;
    margin-bottom: 40px;
}

article.introduction h2 {
    font-family: 'Courgette', cursive;
    color: #000000;
    margin-top: 40px;
}

article.claude {
    width: 23%;
    height: 80vh;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation-name: imageBlur;
    animation-duration: 0.6s;
    background-color: #F9CE65;
    border-radius: 15px;
}

article.claude img {
    width: 70%;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    section.home {
        min-height: 92vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    article.cover {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding-top: 30px;
        padding-bottom: 10px;
        border-radius: 15px 15px 0 0;
    }

    article.cover img {
        width: 50%;
        height: auto;
        margin-left: 0;
    }

    article.introduction {
        width: 90%;
        padding: 10px 30px 20px 30px;
        border-radius: 0 0 15px 15px;
        margin-bottom: 20px;
    }

    article.claude {
        width: 90%;
        margin: 0;
        height: auto;
        padding-top: 20px;
    }

    article.claude img {
        width: 40%;
    }
}