header {
    height: 8vh;
    display: flex;
}

section.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.logo a img {
    width: 40%;
}

section.title {
    width: 80%;
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    color: #000000;
}

section.contact {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section.contact .contactButton {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section.contact .contactButton i {
    font-size: 25px;
    color: #000000;
}

@keyframes contactColor {
    from {color: black;}
    to {color: #F9CE65;}
}

section.contact i:hover {
    color: #F9CE65;
    animation-name: contactColor;
    animation-duration: 0.5s;
}

section.contact article.contactCardInvisible {
    display: none;
}

@keyframes contactCard {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

section.contact article.contactCardVisible {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 180px;
    position: absolute;
    top: 60px;
    right: 40px;
    padding: 12px;
    animation-name: contactCard;
    animation-duration: 0.5s;
    border-radius: 15px;
}

article.contactCardVisible h4 {
    font-family: 'Courgette', cursive;
    color: #000000;
}

article.contactCardVisible p {
    color: #000000;
}

article.contactCardVisible a {
    color: #000000;
    text-decoration: none;
}

article.contactCardVisible a i {
    font-size: 15px;
    margin-right: 5px;
}

@media (max-width: 800px) {
    header {
        justify-content: flex-end
    }

    section.logo {
        width: 20%;
    }

    section.title {
        width: 50%;
    }
    
    section.contact {
        width: 20%;
    }
}