nav {
    width: 5%;
    
}

nav section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100vh;
    position: fixed;
}

nav section article {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

nav section article a {
    width: 60%;
    height: 100%;
    color: white;
}

nav section article a img {
    width: 55%;
}

@keyframes tooltipBlur {
    from {opacity: 0; filter: blur(5px); height: 0px;}
    to {opacity: 1; filter: blur(0px); height: 28px;}
}

article .tooltipNone {
    display: none;
}

article .tooltip {
    background-color: #1D2930;
    width: 120px;
    height: 28px;
    position: absolute;
    left: 80px;
    padding-left: 8px;
    color: white;
    animation-name: tooltipBlur;
    animation-duration: 0.5s;
}

nav section a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    border-radius: 5px;
    width: 60%;
    margin: 3px;
}

@keyframes linksBlur {
    from {filter: blur(5px);}
    to {filter: blur(0px);background-color: rgb(192, 163, 1);}
}

nav section a:hover {
    background-color: rgb(192, 163, 1);
    animation-name: linksBlur;
    animation-duration: 0.3s;
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}