.rampages {
    margin: 10px;
    min-height: 92vh;
}

.rampages .rampageDescription {
    display: flex;
    color: white;
}

.rampages .rampageDescription .rampagesIcon {
    width: 20%;
}

.rampages .rampageDescription .rampagesIcon figure {
    display: flex;
    justify-content: center;
}

.rampages .rampageDescription .rampagesIcon figure img {
    width: 40%;
}

.rampages .rampageDescription .rampagesDescription {
    width: 70%;
}

.rampages .rampagesContainer {
    display: flex;
    padding-top: 20px;
    color: white;
}

.rampages .rampagesContainer .rampagesMaps {
    display: flex;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap {
    margin: 20px;
    background-color: #28373E;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampMapTooltipNone {
    display: none;
}

@keyframes tooltipBlur {
    from {opacity: 0; filter: blur(5px); height: 0px;}
    to {opacity: 1; filter: blur(0px); height: 28px;}
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampMapTooltip {
    background-color: #1D2930;
    position: absolute;
    top: 50%;
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: tooltipBlur;
    animation-duration: 0.3s;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap figure {
    width: 40%;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap figure img {
    width: 90%;
    cursor: pointer;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalNone {
    display: none;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer {
    position: fixed;
    right: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer .rampageModal {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer .rampageModal i {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer .rampageModal i:hover {
    color: #E28F2D;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer .rampageModal img {
    height: 80%;
    margin-bottom: 15px;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .rampageInfo {
    width: 70%;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .openRampage {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .openRampage button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #E28F2D;
    cursor: pointer;
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .openRampage button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

.rampages .rampagesContainer .rampagesMaps .rampageMap .openRampage button a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
}

section.rampagesList {
    color: white;
    margin-top: 20px;
    padding: 10px;
}

section.rampagesList .rampagesCard {
    background-color: #28373E;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
}

section.rampagesList .rampagesCard .rampageCardInfo {
    width: 18%;
    padding-left: 20px;
    padding-top: 10px;
}

section.rampagesList .rampagesCard .location {
    display: flex;
    background-color: #2E3D45;
    width: 41%;
    padding: 10px;
}

section.rampagesList .rampagesCard .location figure {
    margin-right: 20px;
}

@media (max-width: 800px) {
    .rampages .rampageDescription {
        flex-direction: column;
    }

    .rampages .rampageDescription .rampagesIcon {
        width: 100%;
        margin-bottom: 20px;
    }

    .rampages .rampageDescription .rampagesIcon figure img {
        width: 20%;
    }

    .rampages .rampageDescription .rampagesDescription {
        width: 100%;
        padding: 20px;
    }

    .rampages .rampagesContainer .rampagesMaps  {
        flex-direction: column;
    }

    section.rampagesList .rampagesCard {
        flex-direction: column;
    }

    section.rampagesList .rampagesCard .rampageCardInfo {
        width: 100%;
        margin-bottom: 20px;
    }

    section.rampagesList .rampagesCard .location {
        flex-direction: column;
        width: 100%;
    }

    .rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer .rampageModal {
        width: 90%;
    }

    .rampages .rampagesContainer .rampagesMaps .rampageMap .rampageModalContainer .rampageModal img {
        width: 96%;
        height: auto;
    }
}
