.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loadingContainer img {
    width: 8%;
}

@media (max-width: 480px) {
    .loadingContainer img {
        height: 50%;
    }
}
