.rc4x4 {
    margin: 10px;
    min-height: 92vh;
}

.rc4x4 .rc, .container4x4 {
    color: #000000;
}

.rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
    padding: 10px;
}

.rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
    padding: 5px;
    margin-bottom: 20px;
}

.rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
}

.rc4x4 .rc .rcCards .rcLoading, .container4x4 .cards4x4 .Loading4x4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rc4x4 .rc .rcCard, .container4x4 .card4x4 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rc4x4 .rc .rcCard h4, .container4x4 .card4x4 h4 {
    background-color: #FFFFFF;
    padding: 10px 0 10px 15px;
    border-radius: 15px 15px 0 0;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard figure, .container4x4 .card4x4 figure {
    background-color: #FFFFFF;
    padding: 0 15px 0 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard figure img, .container4x4 .card4x4 figure img {
    width: 100%;
    border-radius: 15px;
}

.rc4x4 .rc .rcCard .openLocation, .container4x4 .card4x4 .openLocation{
    background-color: #FFFFFF;
    border: none;
    padding: 0 0 10px 20px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard .openLocation p, .container4x4 .card4x4 .openLocation p {
    display: inline-block;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 0 12px 0 12px;
    background-color: #BF3921;
    cursor: pointer;
}

.rc4x4 .rc .rcCard h5, .container4x4 .card4x4 h5 {
    background-color: #FFFFFF;
    padding: 0 0 10px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard p, .container4x4 .card4x4 p {
    background-color: #FFFFFF;
    padding: 0 15px 15px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard .rcModalNone, .container4x4 .card4x4 .ModalNone4x4 {
    display: none;
}

.rc4x4 .rc .rcCard .rcModalContainer, .container4x4 .card4x4 .ModalContainer4x4 {
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0%;
    right: 0%;
}

.rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

.rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
    height: 85%;
    margin-bottom: 20px;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .rc4x4 .rc .rcCard .rcModalContainer .close, .container4x4 .card4x4 .ModalContainer4x4 .close {
        width: 90%;
    }

    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }

    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}