.rc4x4 {
    margin: 10px;
    min-height: 92vh;
}

.rc4x4 .rc, .container4x4 {
    color: var(--black);
}

.rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
    padding: 10px;
}

.rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
    padding: 5px;
    margin-bottom: 20px;
}

.rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
}

.rc4x4 .rc .rcCards .rcLoading, .container4x4 .cards4x4 .Loading4x4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rc4x4 .rc .rcCard, .container4x4 .card4x4 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rc4x4 .rc .rcCard h4, .container4x4 .card4x4 h4 {
    background-color: var(--white);
    padding: 10px 0 10px 15px;
    border-radius: 15px 15px 0 0;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard figure, .container4x4 .card4x4 figure {
    background-color: var(--white);
    padding: 0 15px 0 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard figure img, .container4x4 .card4x4 figure img {
    width: 100%;
    border-radius: 15px;
}

.rc4x4 .rc .rcCard .openLocation, .container4x4 .card4x4 .openLocation {
    background-color: var(--white);
    border: none;
    padding: 0 0 10px 20px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard .openLocation p, .container4x4 .card4x4 .openLocation p {
    display: inline-block;
    color: var(--white);
    border-radius: 15px;
    padding: 0 12px 0 12px;
    background-color: var(--red);
    cursor: pointer;
}

.rc4x4 .rc .rcCard h5, .container4x4 .card4x4 h5 {
    background-color: var(--white);
    padding: 0 0 10px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard p, .container4x4 .card4x4 p {
    background-color: var(--white);
    padding: 0 15px 15px 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.rc4x4 .rc .rcCard .rcModalNone, .container4x4 .card4x4 .ModalNone4x4 {
    display: none;
}

.rc4x4 .rc .rcCard .rcModalContainer, .container4x4 .card4x4 .ModalContainer4x4 {
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0%;
    right: 0%;
}

.rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
    width: 100%;
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

.rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
    height: 85%;
    margin-bottom: 20px;
    border-radius: 15px;
}

@media (max-width: 360px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(1, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(1, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(1, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(1, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(1, 1fr);
        flex-wrap: wrap;
    }
    .rc4x4 .rc .rcCard , .container4x4 .card4x4 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .rc4x4 .rc .rcCard h4, .container4x4 .card4x4 h4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard figure, .container4x4 .card4x4 figure {
        width: 20%;
        border-radius: 0 0 0 15px;
    }
    .rc4x4 .rc .rcCard .openLocation, .container4x4 .card4x4 .openLocation {
        width: 20%;
        padding: 0;
        margin: 0;
    }
    .rc4x4 .rc .rcCard .openLocation, .container4x4 .card4x4 .openLocation p {
        margin: 0;
    }
    .rc4x4 .rc .rcCard h5, .container4x4 .card4x4 h5 {
        width: 5%;
    }
    .rc4x4 .rc .rcCard p, .container4x4 .card4x4 p {
        width: 55%;
        border-radius: 0 0 15px 0;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 90%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    .rc4x4 .rc .rcDescription, .container4x4 .description4x4 {
        padding: 0 15px 0 15px;
    }
    .rc4x4 .rc .rcTitle, .container4x4 .title4x4 {
        padding: 6px 0 6px 10px;
    }
    .rc4x4 .rc .rcCards, .container4x4 .cards4x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC i, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 i {
        width: 35%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC, .container4x4 .card4x4 .ModalContainer4x4 .modalMap4x4 {
        width: 100%;
    }
    .rc4x4 .rc .rcCard .rcModalContainer .modalMapRC img, .container4x4 .card4x4 .ModalContainer4x4 img {
        width: auto;
        height: 85%;
    }
}