.jumps {
    margin: 10px;
    min-height: 92vh;
}

.jumps .jumpDescription {
    display: flex;
    color: white;
}

.jumps .jumpDescription .jumpIcon {
    width: 20%;
}

.jumps .jumpDescription .jumpIcon figure {
    display: flex;
    justify-content: center;
}

.jumps .jumpDescription .jumpIcon figure img {
    width: 100%;
}

.jumps .jumpDescription .jumpsDescription {
    width: 60%;
    padding-left: 20px;
    color: #000000;
}

.jumps .jumpsContainer {
    display: flex;
    padding-top: 20px;
    color: #FFFFFF;
}

.jumps .jumpsContainer .jumpsMaps {
    display: flex;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap {
    margin: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsMapTooltipNone {
    display: none;
}

@keyframes tooltipBlur {
    from {opacity: 0; filter: blur(5px); height: 0px;}
    to {opacity: 1; filter: blur(0px); height: 28px;}
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsMapTooltip {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    height: 28px;
    padding: 0 12px 0 12px;
    animation-name: tooltipBlur;
    animation-duration: 0.3s;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap figure {
    width: 40%;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap figure img {
    width: 90%;
    cursor: pointer;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalNone {
    display: none;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalContainer {
    position: fixed;
    right: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalContainer .jumpsModal {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalContainer .jumpsModal i {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalContainer .jumpsModal img {
    height: 80%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsInfo {
    width: 70%;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .openJumps {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .openJumps button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #F9CE65;
    cursor: pointer;
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .openJumps button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

.jumps .jumpsContainer .jumpsMaps .jumpsMap .openJumps button a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
}

section.jumpsList {
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 14px;
}

section.jumpsList .jumpsCard {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 10px 15px 15px 15px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

section.jumpsList .jumpsCard p {
    background-color: #BF3921;
    color: #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    padding: 0 12px 0 12px;
    margin-bottom: 10px;
}

section.jumpsList .jumpsCard figure img {
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 800px) {
    .jumps .jumpDescription {
        flex-direction: column;
    }

    .jumps .jumpDescription .jumpIcon {
        width: 100%;
        margin-bottom: 20px;
    }

    .jumps .jumpDescription .jumpIcon figure img {
        width: 60%;
    }

    .jumps .jumpDescription .jumpsDescription {
        width: 100%;
    }

    .jumps .jumpsContainer .jumpsMaps {
        flex-direction: column;
    }

    .jumps .jumpsContainer .jumpsMaps .jumpsMap {
        margin-bottom: 30px;
    }

    .jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalContainer .jumpsModal {
        width: 90%;
    }

    .jumps .jumpsContainer .jumpsMaps .jumpsMap .jumpsModalContainer .jumpsModal img {
        width: 96%;
        height: auto;
    }

    section.jumpsList {
        grid-template-columns: repeat(2, 1fr);
    }

    section.jumpsList .jumpsCard {
        width: 100%;
    }
}