.r3 {
    margin: 10px;
    min-height: 92vh;
}

.r3 .r3Description {
    color: #303030;
    padding: 10px;
}

.r3 .r3Cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px;
    color: #303030;
}

.r3 .r3Cards article {
    background-color: #F8F9F7;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

.r3 .r3Cards article .r3Title {
    width: 30%;
}

.r3 .r3Cards article .r3Title figure {
    width: 100%;
}

.r3 .r3Cards article .r3Title figure img {
    width: 100%;
}

.r3 .r3Cards article .r3Guide {
    width: 70%;
    padding: 10px;
}

.r3 .r3Cards article .r3Guide h5 {
    background-color: #BF3921;
    color: #F8F9F7;
    padding: 0 12px 0 12px;
    border-radius: 15px;
    display: inline-block;
}

.r3 .r3Cards article .r3Reward {
    width: 100%;
    padding: 5px;
    display: flex;
}

.r3 .r3Cards article .r3Reward .r3RewardTitle {
    width: 70%;
}

.r3 .r3Cards article .r3Reward .r3RewardTitle h4 {
    background-color: #F9CE65;
    color: #303030;
    display: inline-block;
    padding: 0 12px 0 12px;
    border-radius: 15px;
}

.r3 .r3Cards article .r3Reward .r3RewardImage {
    width: 30%;
    padding: 10px;
}

.r3 .r3Cards article .r3Reward .r3RewardImage img {
    width: 80%;
}

@media (max-width: 800px) {
    .r3 .r3Cards {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .r3 .r3Cards article {
        width: 100%;
        margin: 5px;
    }
}