.missions {
    padding-top: 20px;
    min-height: 92vh;
}

section.missionsTitle {
    height: 10vh;
    padding: 15px;
}

section.missionsTitle h1 {
    color: var(--black);
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

section.missionsMaps {
    display: flex;
    justify-content: center;
}

section.missionsMaps h3 {
    color: var(--white);
    padding: 10px;
    background-color: var(--red);
    width: 60%;
    border-radius: 15px 15px 0 0;
}

section.missionsMaps .shoreside {
    width: 28%;
}

section.missionsMaps .staunton{
    width: 28%;
}

section.missionsMaps .portland {
    width: 28%;
}

section.missionsMaps .mapAndIcons {
    display: flex;
    align-items: center;
}

@keyframes mapBlur {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

section.missionsMaps .mapAndIcons img {
    width: 76%;
    cursor: pointer;
    animation-name: mapBlur;
    animation-duration: 0.6s;
    border-radius: 0 15px 15px 15px;
    box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -webkit-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
    -moz-box-shadow: 14px 17px 23px -9px rgba(115,110,110,0.2);
}

@keyframes iconsHidden {
    from {position: relative; right: 20%;opacity: 0; filter: blur(5px); background: none;}
    to {right: -20%; opacity: 1;filter: blur(0px); background-color: var(--yellow);}
}

section.missionsMaps .mapAndIcons ul.icons {
    animation-name: iconsHidden;
    animation-duration: 1s;
    z-index: 0;
    background-color: var(--yellow);
    border-radius: 0 15px 15px 0;
}

section.missionsMaps .mapAndIcons ul.iconsNone {
    display: none;
}

section.missionsMaps .mapAndIcons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.missionsMaps .mapAndIcons ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: var(--black);
    text-decoration: none;
}

section.missionsMaps .mapAndIcons ul li a p {
    font-size: 12px;
}

@media (max-width: 360px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 8vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 16px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 12vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 16px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 76%;
        text-align: left;
        font-size: 10px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 0 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 6px;
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 7vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 16px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 12vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 16px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 76%;
        text-align: left;
        font-size: 10px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 0 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 6px;
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 6vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 16px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 12vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 16px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 60%;
        text-align: left;
        font-size: 12px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 15px 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 8px;
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 5vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 70%;
        margin-left: 15%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 16px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}


@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 10vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 16px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 60%;
        text-align: left;
        font-size: 12px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 15px 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 10px;
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 7vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 70%;
        margin-left: 15%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 16px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 7vh;
        padding: 10px 0 10px 20px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 70%;
        margin-left: 15%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 18px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 8vh;
        padding: 10px 0 10px 40px;
    }
    section.missionsTitle h1 {
        font-size: 16px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 60%;
        text-align: left;
        font-size: 16px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 15px 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 12px;
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 7vh;
        padding: 10px 0 10px 50px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 18px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 10vh;
        padding: 30px 0 10px 50px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 60%;
        text-align: left;
        font-size: 18px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 15px 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 12px;
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 4vh;
        padding: 10px 0 10px 50px;
    }
    section.missionsTitle h1 {
        font-size: 20px;
    }
    section.missionsMaps {
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
    }
    section.missionsMaps h3 {
        text-align: left;
        font-size: 18px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    .missions {
        padding-top: 0px;
    }
    section.missionsTitle {
        height: 10vh;
        padding: 30px 0 10px 50px;
    }
    section.missionsTitle h1 {
        font-size: 25px;
    }
    section.missionsMaps {
        width: 96%;
        margin-left: 2%;
    }
    section.missionsMaps h3 {
        width: 60%;
        text-align: left;
        font-size: 18px;
    }
    section.missionsMaps .shoreside {
        width: 100%;
    }
    section.missionsMaps .staunton{
        width: 100%;
    }
    section.missionsMaps .portland {
        width: 100%;
    }
    section.missionsMaps .mapAndIcons {
        justify-content: left;
        margin-bottom: 20px;
    }
    section.missionsMaps .mapAndIcons img {
        border-radius: 0 15px 15px 15px;
    }
    section.missionsMaps .mapAndIcons ul li a p {
        font-size: 12px;
    }
}