.missions {
    margin: 10px;
    min-height: 92vh;
}

section.missionsTitle {
    height: 10vh;
    padding: 15px;
}

section.missionsTitle h1 {
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

section.missionsMaps {
    display: flex;
}

section.missionsMaps h2 {
    color: white;
    font-size: 15px;
    padding: 10px;
}

section.missionsMaps .shoreside {
    width: 33%;
}

section.missionsMaps .staunton{
    width: 33%;
}

section.missionsMaps .portland {
    width: 33%;
}

section.missionsMaps .mapAndIcons {
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    section.missionsMaps {
        flex-direction: column;
    }

    section.missionsMaps h2 {
        text-align: center;
        font-size: 20px;
    }

    section.missionsMaps .shoreside {
        width: 100%;
    }
    
    section.missionsMaps .staunton{
        width: 100%;
    }
    
    section.missionsMaps .portland {
        width: 100%;
    }

    section.missionsMaps .mapAndIcons {
        justify-content: center;
    }
}

@keyframes mapBlur {
    from {opacity: 0; filter: blur(20px);}
    to {opacity: 1; filter: blur(0px);}
}

section.missionsMaps .mapAndIcons img {
    width: 76%;
    cursor: pointer;
    animation-name: mapBlur;
    animation-duration: 0.6s;
}

@keyframes iconsHidden {
    from {position: relative; right: 20%;opacity: 0; filter: blur(5px);}
    to {right: -20%; opacity: 1;filter: blur(0px);}
}

section.missionsMaps .mapAndIcons ul.icons {
    animation-name: iconsHidden;
    animation-duration: 1s;
    z-index: 0;
}

section.missionsMaps .mapAndIcons ul.iconsNone {
    display: none;
}

section.missionsMaps .mapAndIcons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.missionsMaps .mapAndIcons ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}

section.missionsMaps .mapAndIcons ul li a p {
    font-size: 14px;
}