.phones {
    margin: 10px;
    min-height: 92vh;
}

article.phoneMissions {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #303030;
    color: #F8F9F7;
    border-radius: 15px;
}

article.phoneMissions .phoneCard {
    display: flex;
}

article.phoneMissions .phoneMap {
    width: 7%;
}

article.phoneMissions .phoneMap h1 {
    color: #F8F9F7;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

article.phoneMissions .phoneMap img {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

article.phoneMissions figure {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.phoneMissions figure img {
    width: 70%;
    border-radius: 50%;
}

article.phoneMissions .infoPhone {
    background-color: #F8F9F7;
    border-radius: 15px;
    width: 75%;
    padding: 15px;
    color: #303030;
}

article.phoneMissions .infoPhone h1 {
    color: #303030;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

article.phoneMissions .infoPhone p {
    margin-top: 20px;
}

article.phoneMissions .modalInvisible {
    display: none;
}

article.phoneMissions .modalVisible {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

article.phoneMissions .modalVisible .modalMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
}

article.phoneMissions .modalVisible .modalMap i {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

article.phoneMissions .modalVisible img {
    height: 85%;
    margin-bottom: 15px;
    border-radius: 15px;
}

article.phoneMissions .phoneMissionList .phoneList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 14px;
    margin-top: 20px;
}

@keyframes loading {
    0%{filter: saturate(80%);}
    50% {filter: saturate(0%);}
    100% {filter: saturate(80%);}
}

article.phoneMissions .phoneMissionList .phoneList .loadingCard {
    width: 100%;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

article.phoneMissions .phoneMissionList .phoneList .loadingCard img {
    width: 100%;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
    width: 100%;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
    background-color: #F8F9F7;
    font-family: 'Courgette', cursive;
    color: #303030;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard .phoneInfo {
    background-color: #F8F9F7;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard .phoneInfo .phoneObjective {
    background-color: #BF3921;
    color: #F8F9F7;
    display: inline-block;
    padding: 0 12px 0 12px;
    border-radius: 15px;
    margin: 0 5px 5px 10px;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard .phoneInfo .phoneReward {
    background-color: #F9CE65;
    color: #303030;
    display: inline-block;
    padding: 0 12px 0 12px;
    border-radius: 15px;
    margin-left: 10px;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard p {
    background-color: #F8F9F7;
    color: #303030;
    padding: 10px 15px 15px 15px;
    border-radius: 0 0 15px 15px;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard b {
    cursor: pointer;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard b:hover {
    color: #BF3921;
}

article.phoneMissions .phoneMissionList .phoneListNone {
    display: none;
}

article.phoneMissions .phoneMissionList .openList {
    display: flex;
    justify-content: center;
}

article.phoneMissions .phoneMissionList .openList button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 40px;
    background-color: #F9CE65;
    cursor: pointer;
}

article.phoneMissions .phoneMissionList .openList button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

article.phoneMissions .phoneMissionList .openList button i {
    color: #303030;
}

@media (max-width: 800px) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }

    article.phoneMissions .phoneMap {
        width: 40%;
    }

    article.phoneMissions figure {
        width: 60%;
    }
    
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }

    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }

    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }

    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }

    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}