.phones {
    margin: 10px;
    min-height: 92vh;
}

article.phoneMissions {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 15px;
}

article.phoneMissions .phoneCard {
    display: flex;
}

article.phoneMissions .phoneMap {
    width: 7%;
}

article.phoneMissions .phoneMap h1 {
    color: var(--white);
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 10px;
}

article.phoneMissions .phoneMap img {
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
}

article.phoneMissions figure {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article.phoneMissions figure img {
    width: 70%;
    border-radius: 50%;
}

article.phoneMissions .infoPhone {
    background-color: var(--white);
    border-radius: 15px;
    width: 75%;
    padding: 15px;
    color: var(--black);
}

article.phoneMissions .infoPhone h1 {
    color: var(--black);
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

article.phoneMissions .infoPhone p {
    margin-top: 20px;
}

article.phoneMissions .modalInvisible {
    display: none;
}

article.phoneMissions .modalVisible {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

article.phoneMissions .modalVisible .modalMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
}

article.phoneMissions .modalVisible .modalMap i {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}

article.phoneMissions .modalVisible img {
    height: 85%;
    margin-bottom: 15px;
    border-radius: 15px;
}

article.phoneMissions .phoneMissionList .phoneList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    margin-top: 20px;
}

@keyframes loading {
    0%{filter: saturate(80%);}
    50% {filter: saturate(0%);}
    100% {filter: saturate(80%);}
}

article.phoneMissions .phoneMissionList .phoneList .loadingCard {
    width: 100%;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

article.phoneMissions .phoneMissionList .phoneList .loadingCard img {
    width: 100%;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
    width: 100%;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
    background-color: var(--white);
    font-family: 'Courgette', cursive;
    color: var(--black);
    padding: 15px;
    border-radius: 15px 15px 0 0;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard .phoneInfo {
    background-color: var(--white);
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard .phoneInfo .phoneObjective {
    background-color: var(--red);
    color: var(--white);
    display: inline-block;
    padding: 0 12px 0 12px;
    border-radius: 15px;
    margin: 0 5px 5px 10px;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard .phoneInfo .phoneReward {
    background-color: var(--yellow);
    color: var(--black);
    display: inline-block;
    padding: 0 12px 0 12px;
    border-radius: 15px;
    margin-left: 10px;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard p {
    background-color: var(--white);
    color: var(--black);
    padding: 10px 15px 15px 15px;
    border-radius: 0 0 15px 15px;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard b {
    cursor: pointer;
}

article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard b:hover {
    color: var(--red);
}

article.phoneMissions .phoneMissionList .phoneListNone {
    display: none;
}

article.phoneMissions .phoneMissionList .openList {
    display: flex;
    justify-content: center;
}

article.phoneMissions .phoneMissionList .openList button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 40px;
    background-color: var(--yellow);
    cursor: pointer;
}

article.phoneMissions .phoneMissionList .openList button:hover {
    box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -webkit-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
    -moz-box-shadow: -5px 3px 31px -7px rgba(192,163,1,1);
}

article.phoneMissions .phoneMissionList .openList button i {
    color: var(--black);
}

@media (max-width: 360px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 40%;
    }
    article.phoneMissions figure {
        width: 60%;
    }
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (max-width: 640px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 15%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 14px;
    }
    article.phoneMissions figure {
        width: 20%;
    }
    article.phoneMissions .infoPhone {
        width: 65%;
        margin-top: 0px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 14px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 13px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 361px) and (max-width: 375px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 35%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 15px;
    }
    article.phoneMissions figure {
        width: 65%;
    }
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 15px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 641px) and (max-width: 667px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 15%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 14px;
    }
    article.phoneMissions figure {
        width: 20%;
    }
    article.phoneMissions .infoPhone {
        width: 65%;
        margin-top: 0px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 14px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 13px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 376px) and (max-width: 480px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 35%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 17px;
    }
    article.phoneMissions figure {
        width: 65%;
    }
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 17px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 668px) and (max-width: 854px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 15%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 18px;
    }
    article.phoneMissions figure {
        width: 20%;
    }
    article.phoneMissions .infoPhone {
        width: 65%;
        margin-top: 5px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 18px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 15px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 481px) and (max-width: 600px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 35%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 17px;
    }
    article.phoneMissions figure {
        width: 65%;
    }
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 17px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 855px) and (max-width: 1024px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 10%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 18px;
    }
    article.phoneMissions figure {
        width: 20%;
    }
    article.phoneMissions .infoPhone {
        width: 70%;
        margin-top: 5px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 18px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 15px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
        justify-content: center;
    }
    article.phoneMissions .phoneMap {
        width: 20%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 17px;
    }
    article.phoneMissions figure {
        width: 40%;
    }
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 17px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 800px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
        justify-content: center;
    }
    article.phoneMissions .phoneMap {
        width: 20%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 17px;
    }
    article.phoneMissions figure {
        width: 40%;
    }
    article.phoneMissions .infoPhone {
        width: 100%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 17px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(1, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 8%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 18px;
    }
    article.phoneMissions figure {
        width: 15%;
    }
    article.phoneMissions .infoPhone {
        width: 77%;
        margin-top: 5px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 18px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 15px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 801px) and (max-width: 900px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
        justify-content: center;
    }
    article.phoneMissions .phoneMap {
        width: 10%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 17px;
    }
    article.phoneMissions figure {
        width: 20%;
    }
    article.phoneMissions .infoPhone {
        width: 70%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 17px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 8%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 18px;
    }
    article.phoneMissions figure {
        width: 15%;
    }
    article.phoneMissions .infoPhone {
        width: 77%;
        margin-top: 5px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 18px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 15px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}

@media (min-width: 901px) and (max-width: 1080px) and (orientation:portrait) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
        justify-content: center;
    }
    article.phoneMissions .phoneMap {
        width: 10%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 17px;
    }
    article.phoneMissions figure {
        width: 20%;
    }
    article.phoneMissions .infoPhone {
        width: 70%;
        margin-top: 10px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 17px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(2, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 90%;
    }
    article.phoneMissions .modalVisible img {
        width: 96%;
        height: auto;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) and (orientation:landscape) {
    article.phoneMissions .phoneCard {
        flex-wrap: wrap;
    }
    article.phoneMissions .phoneMap {
        width: 5%;
    }
    article.phoneMissions .phoneMap h1 {
        font-size: 18px;
    }
    article.phoneMissions figure {
        width: 10%;
    }
    article.phoneMissions .infoPhone {
        width: 85%;
        margin-top: 5px;
    }
    article.phoneMissions .infoPhone h1 {
        font-size: 18px;
        margin: 0;
    }
    article.phoneMissions .infoPhone p {
        margin-top: 5px;
        font-size: 15px;
    }
    article.phoneMissions .phoneMissionList .phoneList {
        grid-template-columns: repeat(3, 1fr);
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard {
        width: 100%;
    }
    article.phoneMissions .phoneMissionList .phoneList .missionPhoneCard h1 {
        font-size: 15px;
        padding: 15px 0 10px 15px;
    }
    article.phoneMissions .modalVisible .modalMap {
        width: 100%;
    }
    article.phoneMissions .modalVisible .modalMap i {
        width: 35%;
    }
    article.phoneMissions .modalVisible img {
        width: auto;
        height: 85%;
    }
}